:root {
    --base: #131924;
}

body {
    background: var(--base);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.form {
    display: flex;
}

header {
    padding: 20px;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: var(--base);
}

.menu {
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2.logo {
    margin: 0;
}

h3.destaque {
    margin: 0;
    color: rgba(255, 250, 250, 0.349);
    font-size: 0.7em;
}

h4.title {
    margin-bottom: 10vw;
}

h6 {
    font-family: Arial;
    font-weight: 500;
    width: 85vw;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #aaa;
    align-content: space-between;
    padding: 10px;
}

nav a:hover {
    color: #fff;
    font-size: 1.02em;
}

.destaque {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.home {
    background-image: url(../img/destaque.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.fenepe {
    background-image: url(../img/armas.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.cadastro {
    background-image: url(../img/pm_2.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.contatos {
    background-image: url(../img/batalhao.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.brasao {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-bottom: 17%;
    opacity: 80%;
}

.interface {
    height: 100vh;
    padding-top: 100px;
    scroll-snap-type: proximity;
    overflow-y: scroll;
    scrollbar-width: none;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 100px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* 




.destaque.fenepe {
    margin-top: 20vh;
}

.destaque.cadastro {
    height: 20vh;
}



.botoes {
    padding: 20px;
}

.botoes .botao {
    background-color: rgba(27, 27, 27, 0.5);
    border: none;
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 30px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.botoes .botao:hover {
    background-color: rgba(212, 212, 212, 0.5);
} */