/*  
  -------------------------------------------
  -----      CSS for the font used      -----
  -------------------------------------------
*/

@import url('./font/inter.css');

body {
  font-family: 'Inter var', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/*  
  ------------------------------------------- 
  -----      CSS for the preloader      -----
  -------------------------------------------
*/

.loader-wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  background-color: rgba(var(--bs-body-bg-rgb), 1) !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  z-index: 2000 !important;
}



.enabled {
  pointer-events: all;
  cursor: pointer
}

.disabled {
  color: #aaa;
  pointer-events: none;
}

button.bs-placeholder[role='button']>span {
  color: #f00;
}

a.placeholder,
button.bs-placeholder {
  font-style: italic !important;
  color: #f00 !important;
}

.email {
  padding: 0.375rem 0.75rem;
}

.admin,
.login,
.logout {
  text-decoration: none;
  color: rgb(var(--bs-white-rgb));
}

.admin:hover,
.login:hover,
.logout:hover,
.btn:hover {
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.78);
}

.about{
  text-decoration: none;
  color: rgba(var(--bs-white-rgb));
}