<!doctype html>
<html lang="pt-br" dir="ltr" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> FENEPE-DF </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/assets/libraries/aos/aos.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/fenepe_icon.png">
    <link rel="canonical" href="index.html">
</head>

<body data-bs-theme="dark">
    <div class="loader-wrapper">
        <div class="spinner-grow text-primary p-5" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <header class="position-absolute z-3 mt-3 px-5 w-100" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="/static/index.html" class="navbar-brand img-rounded">
                    <img src="/static/assets/img/fenepe_icon.png" width="100" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbarText"
                    class="container-fluid bg-blur py-3 mx-auto w-50 w-md-25 w-lg-100 navbar-collapse collapse">
                    <ul class="navbar-nav align-items-center mx-auto w-50 w-md-25 w-lg-100 text-center gap-4 row-gap-3">
                        <li class="nav-item w-100">
                            <a href="index.html"
                                class="px-3 text-white bg-primary-hover nav-link rounded-3 text-base leading-6 fw-semibold"
                                aria-current="page">
                                Home
                            </a>
                        </li>

                        <li class="nav-item w-100">
                            <div hx-get="/api/members/exists" hx-trigger="load"
                                class="px-3 nav-link text-white bg-primary-hover rounded-3 leading-6 fw-semibold">
                                <a class="link" href="login.html">Cadastro</a>
                            </div>
                        </li>

                        <li class="nav-item w-100">
                            <a href="#about"
                                class="px-3 text-white bg-primary-hover nav-link rounded-3 text-base leading-6 fw-semibold">
                                Fenepe
                            </a>
                        </li>

                        <li class="nav-item w-100">
                            <a href="#footer"
                                class="px-3 text-white bg-primary-hover nav-link rounded-3 text-base leading-6 fw-semibold">
                                Contato
                            </a>
                        </li>

                        <li class="nav-item w-100">
                            <div hx-get="/admin/is_admin" hx-trigger="load" hx-ext="client-side-templates"
                                mustache-array-template="admin-template">
                                <!-- Administrativo -->
                            </div>
                        </li>

                        <li class="nav-item w-100">
                            <div class="px-3 nav-link text-white bg-primary rounded-3 leading-6 fw-semibold"
                                hx-get="/user/is_login" hx-trigger="load">
                                <!-- Exibir botão Login/Logout -->
                            </div>
                        </li>

                    </ul>
                    <template id="admin-template">
                        <a href="admin.html"
                            class="px-3 nav-link text-white bg-primary-hover rounded-3 leading-6 fw-semibold">
                            Administrativo
                        </a>
                    </template>
                </div>
            </div>
            </div>
        </nav>
    </header>

    <!-- header body -->
    <div
        class="overflow-hidden py-9 py-xl-10 position-relative rounded-bottom-3 rounded-sm-4 rounded-xl-5 m-0 m-sm-2 m-xl-3 shadow">
        <img src="./assets/img/armas.png" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover"
            alt="Meeting">

        <div class="position-absolute z-n1 top-0 h-100 w-100 bg-dark"
            style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
        </div>

        <div class="position-absolute z-0 top-0 h-100 w-100">
            <div class="container h-100 d-flex align-items-center">
                <div class="max-w-2xl mx-auto text-center">
                    <h1 class="m-0 mt-7 text-white tracking-tight text-6xl fw-bold" data-aos-delay="0" data-aos="fade"
                        data-aos-duration="3000">
                        FENEPE-DF
                    </h1>
                    <h1 class="m-0 mt-4 text-white text-3xl leading-8" data-aos-delay="100" data-aos="fade"
                        data-aos-duration="3000">
                        Federação Nacional de Entidades de Praças Estaduais - Distrito Federal
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div
        class="overflow-hidden py-3 py-xl-3 position-relative rounded-bottom-3 rounded-sm-4 rounded-xl-5 m-0 m-sm-2 m-xl-3 shadow">

        <img src="./assets/img/pm_costas.jpg" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover"
            alt="Meeting">
        <div class="position-absolute z-n1 top-0 h-100 w-100 bg-dark"
            style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
        </div>
        <div class="container">
            <div class="max-w-2xl mx-auto text-center pt-7 pb-9">
                <h2 class="mt-5 text-primary-emphasis text-base leading-7 fw-semibold">
                    A Federação Nacional de Entidades de Praças Estaduais nasceu com a missão de ampliar a
                    representatividade dos praças na luta pelos direitos da categoria na esfera nacional.
                </h2>
                <div class="mt-3 text-body-emphasis text-4xl leading-snug tracking-tight fw-bold">
                    JUNTOS SOMOS MAIS FORTES
                </div>
                <div hx-get="/user/welcome" hx-trigger="load"
                    class="my-5 px-3 btn btn-primary bg-primary-hover rounded-3 leading-6 fw-semibold">
                    <!-- Seja bem vindo! -->
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="py-5 overflow-hidden">
        <div class="container py-5">
            <div class="row g-3 justify-content-between">
                <div class="col-12 col-sm-10 col-lg-5 col-xl-6 mb-5">
                    <div class="max-w-2xl px-3">
                        <h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
                            Quem somos nós?
                        </h2>
                        <div class="m-0 mt-2 text-body-emphasis text-4xl leading-snug tracking-tight fw-bold">
                            O principal objetivo da <br>
                            FENEPE-DF é unir e somar <br>
                            forças com você.
                        </div>
                        <a href="index.html"
                            class="mt-5 link-body-emphasis d-flex align-items-center text-decoration-none">
                            <img src="./assets/img/pm_2.png" height="260" alt="logo" loading="lazy"
                                border-radius="10px">
                        </a>
                        <div class="m-0 mt-5 text-body-emphasis text-2xl leading-snug tracking-tight fw-bold">
                            A FENEPE tem por objetivo representar <br>
                            seus Associados e as Entidades Militares <br>
                            Estaduais junto ao poderes constituídos da <br>
                            União, dos Estados e dos Municipios.
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-8 col-sm-10 col-lg-5">
                    <div class="accordion" id="accordionFlushExample">
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed h2 shadow-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseCadastro"
                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                    Como faço para me cadastrar?
                                </button>
                            </h2>
                            <div id="flush-collapseCadastro" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-body-secondary lh-lg">
                                    Você pode se cadastrar clicando no botão <b>Entrar</b> no topo desta página ou
                                    clicando no link abaixo:<br>
                                    <a class="text-decoration-none" href="login.html">Clique aqui.</a>

                                </div>
                            </div>
                        </div>

                        <hr class="opacity-10">

                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed h2 shadow-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseEdit" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Como consultar ou alterar o cadastro?
                                </button>
                            </h2>
                            <div id="flush-collapseEdit" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-body-secondary lh-lg">
                                    Depios de se autenticar, clicando no botão <b>Entrar</b>, clique no menu
                                    <b>Cadastro</b> no topo desta página.
                                </div>
                            </div>
                        </div>

                        <hr class="opacity-10">

                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed h2 shadow-none mt-4" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Diretoria Executiva
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-body-secondary lh-lg">
                                    PRESIDENTE - João Carlos Pawlick; <br>

                                    VICE PRESIDENTE - José Igo da Silva Gomes; <br>

                                    1º VICE PRESIDENTE - Kalyl Moraes de Aquino; <br>

                                    TESOUREIRO - Guthemberg Silva de Oliveira; <br>

                                    SECRETÁRIO - Rodrigo Suzin; <br>

                                    DIRETOR DE RELAÇÕES INSTITUCIONAIS - Carlos Victor Fernandes; <br>

                                    DIRETOR DE ASSUNTOS JURÍDICOS - Vitorio Luciano Emerson; <br>

                                    DIRETOR DE ASSUNTOS LEGISLATIVO - César Luiz Pinheiro Smith; <br>

                                    DIRETOR DA REGIONAL DA REGIÃO SUDESTE - Silvio Luiz Rodrigues ramalho; <br>

                                    <a href="#">DIRETOR DA REGIONAL DF - Vitório.</a>
                                </div>
                            </div>
                        </div>

                        <hr class="opacity-10">

                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed h2 shadow-none mt-4" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                    aria-expanded="false" aria-controls="flush-collapseThree">
                                    Conselho Fiscal
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-body-secondary lh-lg">
                                    PRESIDENTE - Ezequiel queiros; <br>

                                    1º CONSELHEIRO - Deyvid da Conceição Duarte; <br>

                                    2º CONSELHEIRO - Claudio José Balotari de Souza; <br>

                                    3º CONSELHEIRO - Rogério Pereira.
                                </div>
                            </div>
                        </div>

                        <hr class="opacity-10">

                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed h2 shadow-none mt-4" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    Estatuto da FENEPE
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-body-secondary lh-lg">
                                    <a class="text-decoration-none"
                                        href="https://drive.google.com/file/d/164VD03dWC1vQ634pZ9cSbepkkErdxjKN/view?usp=sharing">Acesse
                                        nosso estatuto clicando aqui.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer id="footer"
        class="overflow-hidden py-6 py-sm-7 py-xl-8 bg-body-tertiary rounded-top-3 rounded-sm-4 rounded-xl-5 m-0 m-sm-2 m-xl-3 shadow">
        <div class="container">
            <div class="row gy-5 g-sm-5">
                <div class="col-12 col-xl-4">
                    <a href="index.html" class="mt-1 link-body-emphasis d-flex align-items-center text-decoration-none">
                        <img src="./assets/img/fenepe_icon.png" height="124" alt="logo" loading="lazy">
                    </a>

                    <p class="mt-4 mb-4 pt-2 text-body-secondary leading-6 text-sm">
                        FENEPE-DF,<br>PRAÇAS UNIDOS!
                    </p>
                </div>

                <div class="col-6 col-md-2 col-xl-3">
                    <h3 class="text-body-emphasis leading-6 text-sm fw-semibold">Entre em contato</h3>
                    <ul class="mt-4 nav flex-column">
                        <li class="mb-3 nav-item">
                            <a target="_blank" href="https://web.whatsapp.com/"
                                class="p-0 text-body-secondary nav-link leading-6 text-sm">
                                <i class="fa fa-whatsapp"></i><span> (61)&nbsp;99125-8039</span>
                            </a>
                        </li>
                        <li class="mb-3 nav-item">
                            <a target="_blank" href="https://www.instagram.com/cabovitorio/"
                                class="p-0 text-body-secondary nav-link leading-6 text-sm">
                                <i class="fa fa-instagram"></i><span> @cabovitorio</span>
                            </a>
                        </li>
                        <li class="mb-3 nav-item">
                            <a target="_blank" href="fenepedf@gmail.com"
                                class="p-0 text-body-secondary nav-link leading-6 text-sm">
                                <i class="fa fa-envelope-o"></i><span> fenepedf@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="order-last order-md-first mt-5 text-body-secondary leading-6 text-sm">
                <li>
                    <a href="https://github.com/NatanaelMonteiro"
                        class="text-body-secondary nav-link leading-6 text-sm">
                        <i class="fa fa-github"></i><span> Developed by Natanael Monteiro Lima</span>
                    </a>
                </li>
            </div> -->

            <hr class="mt-6 mb-0 text-body-emphasis opacity-10">

            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="order-last order-md-first mt-5 text-body-secondary leading-6 text-sm">
                    ©
                    <span class="current-year"></span>
                    Tigma Template, All rights reserved.
                </div>
            </div>
        </div>
    </footer>

    <div class="position-fixed p-3 bottom-0 end-0">
        <button type="button"
            class="btn btn-primary btn-back-to-top rounded-circle justify-content-center align-items-center p-2 text-white">
            <img src="/static/assets/icons/btn-to-top.svg" alt="gotop">
        </button>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="./assets/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libraries/aos/aos.js"></script>
    <script src="./assets/js/scripts.js"></script>
    <script src="./assets/js/color-modes.js"></script>
    <script src="./assets/js/functions.js"></script>

</body>

</html>